*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Generales*/
body{
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    font-size: 1.2rem;
    line-height: 1.4em;
    margin: auto;
    font-weight: 300;
}
.msj-gracias{
    padding-top: 20rem;
    display: flex;
    justify-content: center;
}
.color-letra-gris{
    color: rgb(59, 59, 59);
}
.t-size-1{
    font-size: 3.3rem;
}
.t-size-2{
    font-size: 2.5rem;
}
.t-size-3{
    font-size: 2rem;
}
.t-size-4{
    font-size: 1.5rem;
}
.t-size-5{
    font-size: 1.2rem;
}
.t-size-6{
    font-size: 1rem;
}
.t-size-7{
    font-size: .9rem;
}
.t-size-8{
    font-size: .7rem;
}
.pad-left{
    padding-left: .6rem;
}
.t-weight-300{
    font-weight: 300;
}
.t-weight-400{
    font-weight: 400;
}
.t-weight-500{
    font-weight: 500;
}
.t-weight-600{
    font-weight: 600;
}
.t-weight-800{
    font-weight: 800;
}
.pad-secciones{
    padding: 5rem 0;
}
.pad-cajas{
    padding: 2rem 0;
}
.pad-cajas-1{
    padding: 1rem 0;
}
.pad-bottom-1{
    padding-bottom: 1rem;
}
.pad-bottom-2{
    padding-bottom: 2rem;
}
.pad-bottom-4{
    padding-bottom: 4rem;
}
.pad-top{
    padding-top: 4rem;
}
.pad-top-2{
    padding-top: 2rem;
}
.pad-top-3{
    padding-top: 1.5rem;
}
.pad-left-0{
    padding-left: 0.5rem;
}
.pad-left{
    padding-left: 2rem;
}
.pad-right{
    padding-right: .6rem;
}
.interlineado{
    line-height: 3rem;
}
.btn-transparente{
    background-color: transparent;
    color: white;
    border-style: solid;
    border-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
    
}
.btn-violeta{
    background-color: rgb(44, 32, 151);
    color: white;
    border-style: solid;
    border-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
    
}
.btn-negro{
    background-color: black;
    color: cornsilk;
    border-style: solid;
    border-color: white;
    border-radius: 0.4rem;
}
.bla{
    padding-right: .5rem;
}
.btn-fino{
    font-size: .7rem;
    height: 1.5rem;
}
.btn-grueso{
    font-size: .9rem;
    height: 2.5rem;
}
.btn-w-9{
    width: 9rem;
}
.btn-w-12{
    width: 12rem;
}
.btn-w-16{
    width: 14rem;
    height:3.1rem;
}
.video-1{
    width:50rem;
}



/*Estilo de Container*/
.container{
    max-width: 95rem;
    margin: 0 auto;
}

/* Estilo Lineas Separadoras*/
.linea-separadora{
    border-top: rgb(190, 181, 181) 0.05rem solid;
}
.linea-separadora-gris{
    border-top: rgb(85, 82, 82) .2rem solid;
}
.linea-separadora-corta{
    border-top: rgb(221, 214, 214) 0.05rem solid;
    width: 30%;
    padding-bottom: 1rem;
}


.i-play-video{
    width: 5rem;
}

/*Estilo Encabezado Fijo con fecha y boton*/
.c-fecha-curso{
    background: black;
    color: rgb(255, 255, 255);
    
}
.fecha-curso-btn{
display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    padding: 0.3rem 0;
}
.icon-var{
    width: 2rem;
    padding: 0 0.5rem;
}
.fecha-prox-curso{
    padding-right: 3rem;
}

/*Estilo del Menu de navegacion*/
.header-fix{
    background: rgb(255, 255, 255);
    color: rgb(71, 73, 75);
    padding: 0 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
}
.header-fix a{
    color:  rgb(71, 73, 75);
    text-decoration: none;
}
.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    /* Si el elemento tiene mas ancho del permitido para estar uno al lado del otro, lo pasa auna 
    linea abajo*/
    flex-wrap: wrap;
}
.logo{
    text-decoration: none;
    font-family: 'Cinzel Decorative', cursive;
}
.menu-icon{
    display: none;
}
.navegador ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navegador ul li{
   display: inline-block;
}
.navegador ul li a{
    display: block;
    padding: 0.4rem 1rem;
    transition: all 0.1s linear;
    border-radius: 5px;
    text-decoration: none;
    color:  rgb(71, 73, 75);
 }
 .navegador ul li a:hover{
    border-style: solid;
    border-color: rgb(26, 24, 24);
    border-width: 0.12rem;
 }

 /*Falseo el espacio donde estaba el navbar para quede todo visible en caso de usar fixed*/
.contenedor-lp{
    padding-top: 10rem;
}

/* Estilos de la Seccion Inicio con video*/
.secc-inicio{
    background-image: url(../img/f-sec-inicio.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 70vh;
}
.secc-inicio::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    opacity: 0.5;
}
.c-inicio-rel{
    position: relative;
}
.img-play{
    width: 6rem;
}
.c-g-inicio{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Estilos de la Seccion Detalle de Curso + Video*/

.c-frase{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.c-gral-curso-video{
    display: flex;
    align-items: center; 
   justify-content: space-around;
}

.detalle-curso{
 width: 45%;
 padding-right: 2rem;
}
.video-curso{
    background:black;
    border: #484B4B .2rem solid;
    background-size: cover;
    position: relative;
    background-position: center;
    height: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width:45%;    /* Ancho máximo */
}
.c-pagos-botones{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.boton-pad{
    padding-bottom: 1.5rem;
}
.c-icon-texto{
    display: flex;
    align-items: flex-start;
}
.icon-cal{
    height: 1.5rem;
    padding-right: .8rem;
}

/*Fondo Paralax seccion Ilusionistas y Preguntas Frecuentes*/
.fondo-paralax{
    background-image: url(../img/galaxia.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    background-position: center;
}
.fondo-paralax::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    opacity: 0.7;
    
}
.paralax-rel{
    position: relative;
}

/* Estilos de la Seccion Ilusionistas*/
.cont-ilusionistas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width:100%;
    padding-top: 6rem;
}
.con-gral-ilusionista{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 8rem;
    width: 35rem;
    /*border: white .1rem solid;*/
    
}
.cont-img-ilusionista{
    display: flex;
    justify-items: center;
    align-items: center;
}
.img-ilus{
    height: 8rem;
    width: 13rem;
}
.con-logo-redes{
    display: flex;
    padding-top: .8rem;
    box-sizing: border-box;
}
.logo-red-social{
    width: 1.5rem;
}
.cont-info-ilusionista{
    box-sizing: border-box;
    padding-left: 1rem;
}

/*Estilo de la Seccion Preguntas Frecuentes*/
.box-acordion {
    width: 80%;
    margin: 0 auto;
}
.c-indv-acordeon{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.acordion {
    display: block;
    background-color: rgb(87, 85, 85);
    display: flex;
    padding: .7rem 1.2rem;
    font-size: 1rem;
    justify-content: space-between;
    text-decoration: none;
    font-weight: bolder;
    /*border-bottom: 1px solid #1f618D;*/
    box-sizing: border-box;
}
.contenido {
    background-color: rgb(87, 85, 85);
    padding: 18px 20px;
    text-align: left;
    font-size: 0.9rem;
    display: none;
    box-sizing: border-box;
}
    
/*Estilos de seccion Testimonios*/
.secc-testimonios{
    background-color: white;
}
.con-testimonios-alumnos{
    display: flex;
    justify-content: space-between;
}
.c-alumnos-opinan{
    color: rgb(59, 59, 59);
    padding-left: 3rem;
    width: 60%;
}
.c-opinion-videos{
    display: flex;
}
.c-video-opiniones{
    width: 40%;
}

/*Seccion Reservar Curso*/
.secc-reserva-curso{
    background-image: url(../img/mago_fuego01.png);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    background-position: center;
}
.secc-reserva-curso::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    opacity: 0.5;
}
.con-gral-reserva{
    position: relative;
}
.con-gral-reserva{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.detalle-formas-pago{
    font-size: .7rem;
}
.btn-pago{
    display: flex;
}

/*Estilos de Carrousel del Publico*/
.Carousel{
    width: 100%;
}
.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 21rem;  
    margin: 0px auto;
    max-width: 98vw;    
    overflow: hidden;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}
.slick{
    position: relative;
    width: 36rem;   
    float: left;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}
.slick a img{
    object-fit: cover;
    /*height: 300px;*/
    width: 30rem;
    border-radius: 4px;
    
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transition: .3 ease-in-out;
}
.slick a img:hover{
opacity: .85;
}
.slick-arrow{
    background-color: rgb(0, 0, 0);
    position: absolute;
    z-index: 1;
    width: 2.5rem;
    height:100%;
    text-align: center; 
    align-items: center;
    border: .1rem solid white;
    cursor: pointer;
}
.slick-arrow:focus{
    outline: 0;
}
.flecha{
    width: 1.6rem;
    height: 3rem;
    color: rgba(0,0,0,.7);
}
.slick-prev{
left: 0;
}
.slick-next{
    right: 0;
}

/*Estilos de  Contacto*/
.secc-contacto{
    background-image: url(../img/mago1.png);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    background-position: right;
}
.secc-contacto::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(5, 5, 5);
    position: absolute;
    opacity: 0.5;
}
.c-contacto{
    position: relative;
}
.form-datos-personales{
    display: flex;
    justify-content: flex-start;
}
.con-redes-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.con-redes-sociales{
width: 30%;
/*background-image: url('../img/mago1.jpeg');*/
}
.cont-rs-contacto{
    padding-right: 0.7rem;
}
.icon-red-social{
    width: 1.5rem;
}
.red-img-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1rem;
}
.formulario-contacto{
    width: 70%;
}
.formulario{
    box-sizing: border-box;
}
.cont-info-usuario{
    padding: 1rem 0.5rem;
}
.inp-info{
    background: transparent;
    border-color: white;
    height: 2.5rem;
    color: white;
    font-family: 'Orbitron', sans-serif;
}
.inp-nombre{
    width: 12rem;
}
.inp-telefono{
    width: 12rem;
}
.inp-email{
    width: 16rem;
}
.info-usuario{
    padding: 0.2rem 0.5rem;
}
input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
.txt-msj-usuario{
    background:transparent;
    border-color: white;
    color: white;
    width: 72%;
    height: 7rem;
    padding: 0 0.6rem;
    font-family: 'Orbitron', sans-serif;
}
.cont-btn-enviar{
    display: flex;
    justify-content: flex-start;
    padding: 0rem .5rem;
    font-family: 'Orbitron', sans-serif;
}
.btn-enviar-m{
    width: 10rem;
}
.carousel {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}
#imagen {
    width: 100%;
    height: 400px;
    background-size: cover;
}

/*Boton Flotante Whatsapp*/
.btn-float{
display:scroll;
position:fixed;
bottom:2rem;
right: 1rem;
z-index: 2;
}
.btn-wts{
    width: 2.5rem;
}
.btn-wts:hover{
    -webkit-transform: scale(2);
    transform: scale(1.3);
}
/*Footer*/
.sec-footer{
    height: 4.5rem;
}
.footer-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: rgb(255, 255, 255) 0.05rem solid;
    padding: 0.8rem 0;
}
.msj-gracias a{
    text-decoration: none;
    color: cornsilk;
}

/*Estilos de version Maximo 1400px*/
@media only screen and (max-width: 1400px)  { 
.pad-top{
    padding-top: 5rem;
}
    /*Estilo Container Hasta 1400px*/

    .secc-ilusionistas{
        padding: 0 1rem ;
    }
    .secc-preg-frec{
        padding: 0 1rem ;
    } 
    .secc-testimonios{
        padding: 0 1rem;
    }
    .con-gral-reserva{
        padding: 0 1rem;
    }
    .t-carrousel{
        padding: 0 1rem;
    }
    .c-contacto{
        padding: 0 1rem;
    }
    .pad-top-2{
        padding-top: 2rem;
    }
}


/*Estilos de version Maximo 1200px*/
@media only screen and (max-width: 1200px){
    .pad-top{
    padding-top: 4rem;
}
     /*Estilo Generales Hasta 1200px*/
    .t-size-1{
    font-size: 3.3rem;
}
.t-size-2{
    font-size: 2.5rem;
}
.t-size-3{
    font-size: 2rem;
}
.t-size-4{
    font-size: 1.5rem;
}
.t-size-5{
    font-size: 1.1rem;
}
.t-size-6{
    font-size: 1rem;
}
.t-size-7{
    font-size: .8rem;
}
.t-size-8{
    font-size: .7rem;
}
    .pad-adaptable{
        padding-left: 1rem;
        box-sizing: border-box;
        }
        .secc-inicio{
            height: 50vh;
        }
        .c-g-inicio{
            height: 50vh;
        }
     /*E Secc Curso 1200px*/

    .secc-info-curso{
        padding: 0 1rem ;
    }
    .secc-ilusionistas{
        padding: 0 1rem ;
    }
    .secc-preg-frec{
        padding: 0 1rem ;
    }

/* Estilos de la Seccion Ilusionistas hasta 1200px*/

.cont-ilusionistas{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.con-gral-ilusionista{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 25rem;
   /* border-bottom: white .1rem solid;*/
    padding-top: 1rem;
    
}
.img-ilus{
    height: 6rem;
    width: 9rem;
}
.logo-red-social{
    width: 1.3rem;
}

/*Seccion Contacto hasta 1200px*/
.formulario-contacto{
    width: 75%;  
}
.form-datos-personales{
width: 75%;
}
.form-mensaje{
width: 75%;
}
.txt-msj-usuario{
width: 100%;
}
.cont-info-usuario{
width: 100%;
}
.inp-nombre{
    width: 90%;
}
.inp-telefono{
    width: 90%;
}
.inp-email{
    width: 100%;
}
.form-datos-personales{
    display: flex;
    justify-content: space-around;
}
}

/*Estilos de version Maximo 979px*/
@media only screen and (max-width: 979px)  { 
    .pad-top{
    padding-top: 4rem;
}
    
.t-size-1{
    font-size: 3rem;
}
.t-size-2{
    font-size: 2.2rem;
}
.t-size-3{
    font-size: 2rem;
}
.t-size-4{
    font-size: 1.5rem;
}
.t-size-5{
    font-size: 1.2rem;
}
.t-size-6{
    font-size: 1rem;
}
.t-size-7{
    font-size: .9rem;
}
.t-size-8{
    font-size: .7rem;
}

    /*Container hasta 979px*/
.container{
max-width: 55rem;
margin: 0 auto;
}
/*Est. Grales hasta 979px*/
.c-frase{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pad-adaptable{
padding-left: 0.8rem;
box-sizing: border-box;
}
.pad-secciones{
    padding: 2rem 0;
}
.centrado{
    text-align: center;
    }
.pad-left{
    padding-left: 1rem;
}
.secc-inicio{
    height: 45vh;
}
.c-g-inicio{
    height: 45vh;
}
/* Est. Secc Detalle Curso hasta 979px*/
.icon-cal{
    height: 1.2rem;
    padding-right: .5rem;
}
.c-gral-curso-video{
    display: flex;
    flex-direction:column;	
}
.detalle-curso{
    width: 100%;
    padding-bottom: 2rem;
    padding-right: 1;
}
.video-curso{
    width: 100%;
}

.c-pagos-botones{
    display: flex;
    justify-content: space-between;
    width:80%;
}

/* Est.  Secc Ilusionistas hasta 979*/
.cont-ilusionistas{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:75%
}
.img-ilus{
    height: 9rem;
    width: 14rem;
}
.con-gral-ilusionista{
    justify-content: flex-start;
    align-items: center;
    height: 12rem;
    width: 30rem;
}
.cont-btn-enviar{
    justify-content: flex-start;
}

/* Est. Secc Testimonios hasta 979*/
.c-opinion-videos{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    }
.c-alumnos-opinan{
width: 100%;
padding: 1.5rem 0 ;
}
.c-video-opiniones{
width: 100%;
}
.text-gral{
    width: 100%;
}
.linea-separadora-corta{
    width: 100%;
}

/*Secc Reserva Curso hasta 979*/
.con-gral-reserva{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.con-info-reserva{
    width: 100%;
}
.t-det-curso{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction:column;
}
.c-pagos-botones-c{
    display: flex;
    justify-content: flex-start;
}

/*Secc Contacto hasta 979*/
.form-datos-personales{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.formulario-contacto{
    width: 75%; 
}
.form-datos-personales{
width: 75%;
}
.form-mensaje{
width: 75%;
}
.txt-msj-usuario{
width: 100%;
}
.cont-info-usuario{
width: 100%;
}
.inp-nombre{
    width: 100%;
}
.inp-telefono{
    width: 100%;
}
.inp-email{
    width: 100%;
}
.form-datos-personales{
    display: flex;
    justify-content: space-around;
}
}



/*Estilos de version Maximo 767px*/
@media only screen and (max-width: 767px){
    .pad-top{
    padding-top: 4rem;
}
.pad-bottom-4{
    padding-bottom: 4rem;
}
    .nav-ul{
        font-size: 1.2rem;
    }
    .navegador ul li{
        padding-top: 1rem;
    }

  /*Est. Grales hasta 767*/
    .t-size-1{
    font-size: 3rem;
}
.t-size-2{
    font-size: 2.2rem;
}
.t-size-3{
    font-size: 2rem;
}
.t-size-4{
    font-size: 1.5rem;
}
.t-size-5{
    font-size: 1.9rem;
}
.t-size-6{
    font-size: 1rem;
}
.t-size-7{
    font-size: .9rem;
}
.t-size-8{
    font-size: .7rem;
}
    .container{
        max-width: 42rem;
        margin: 0 auto;
    }
    .pad-secciones{
        padding: 3rem 0;
    }
    .pad-cajas{
        padding: 1.7rem 0;
    }
    .t-size-1{
        font-size: 2.5rem;
    }
    .t-size-2{
        font-size: 1.5rem;
    }
    .t-size-3{
        font-size: 1.2rem;
    }
    .t-size-4{
        font-size: .9rem;
    }
    .t-size-5{
        font-size: .9rem;
    }
    .t-size-6{
        padding-left: 0;
    }

    .secc-inicio{
        height: 40vh;
    }
    .c-g-inicio{
        height: 40vh;
    }
    /*Secc Detalle Curso hasta 767*/
    .c-gral-curso-video{
        display: flex;
        flex-direction:column;	
    }
    .detalle-curso{
        width: 100%;
        padding: 0 0.2rem;
       }
       .video-curso{
           width: 100%;
       }  
    .logo-nav-container{
        padding: 0 1rem;
    }
    .menu-icon{
        display: block;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding: 1rem 1rem;
    }
    .icon-rsp-menu{
        width: 1.5rem;
    }
    .navegador{
        width: 100%;
        margin-top: 1rem;
    }
    .navegador ul {
        display: none;
     }
     .navegador ul.show{
        display: block;
     }
    .navegador ul li{
       display: block;
    }
    .navegador ul li a{
        display: block;
        padding: 0.5rem 0;
        transition: all 0.4s linear;
        border-radius: 5px;
     }
     .navegador ul li a:hover{
        background-color: rgb(95, 95, 95);
     }
     .detalle-curso{
         display: flex;
        flex-direction:column;	
     }  
     .contenedor-pagos-botones{
        padding-bottom: 3rem;
    }

     /*Falseamos el espacio donde estaba el navbar para quede todo visible en caso de usar fixed hasta 767*/
    .main{
    padding-top: 12rem;
    }  

    /*Secc Ilusionistas hasta 767*/
.centrado{
text-align: center;
}
.img-ilus{
    height: 8rem;
    width: 13rem;
}
.cont-ilusionistas{
    width:100%;
    padding-top: 6rem;
}
.con-gral-ilusionista{
    justify-content: center;
    align-items: center;
    height: 11rem;
    width: 30rem;
    padding-left:1rem;
}

/*Secc Testimonios hasta 767*/
.con-testimonios-alumnos{
    display: flex;
    flex-direction: column;
}

/*Secc Preguntas Frecuentes hasta 767*/
.t-preguntas-frecuentes{
    width: 100%;
}


.c-pagos-botones-c{
  
}

.con-info-reserva{
    width:90%;
    padding-right:0.5rem;
}
/*Secc Contacto hasta 767*/
.con-redes-form{
display: flex;
justify-content: center;
align-items: center;
flex-direction:column;
}
.con-redes-sociales{
width: 100%;
padding-top: 2rem;
justify-content: center;
/*background-image: url('../img/mago1.jpeg');*/
}
.red-img-text{
justify-content: center;

}
.text-detalle-curso{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
}
.formulario-contacto{
    width: 100%;
}
.inp-info{
    width: 18rem;
    height: 4rem;
}
.formulario-contacto{
    width: 100%;
}
    .txt-msj-usuario{
    width: 100%;
    }
    .cont-info-usuario{
    width: 100%;
    }
    .inp-nombre{
        width: 100%;
    }
    .inp-telefono{
        width: 100%;
    }
    .inp-email{
        width: 100%;
    }
    .form-mensaje{
        width: 100%;
    }
        .form-datos-personales{
            width: 100%;
            }
}



/*Estilos de version Maximo 480px*/
@media (max-width: 480px) {
.pad-top{
    padding-top: 2rem;
}
    .btn-pago{
        display: flex;
        flex-direction:column;	
    }
   .bla{
       padding-bottom: 2rem;
   }
   .c-pagos-botones{
    display: block;
}
.fecha-curso{
    background: black;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    padding: .3rem .5rem;
}
.btn-fino{
    font-size: .5rem;
    height: 1.5rem;
}
.fecha-prox-curso{
    padding-right: .5rem;
    font-size: 0.6rem;
}
.c-pagos-botones-c{
    display: flex;
    justify-content: center;
}
.cont-ilusionistas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%
}
.con-gral-ilusionista{
    display: block;
    justify-content: center;
    align-items: center;
    height: 16rem;
    width: 18rem;
}
/*
.con-gral-ilusionista{
    justify-content: center;
    align-items: center;
    height: 11rem;
    width: 27rem;
    padding-left:0;
    background: red;
}*/
.img-ilus{
    height: 7rem;
    width: 11rem;
}

    }